<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="plantilla/templates::header"></header>
        <header><!-- enacabezado simplemente -->
            <nav><!-- encabezado donde van todo los elemtos -->
                
                <img src="Imagenes para tienda/logo tienda.png" alt="Logo"/> <!-- en src se coloca la direccion de imagenes -->
                <!-- el img sirve para poner imagens, por estructura va afuera debido a que la imagen si pertenece al encabezado, 
                pero no pertenece a las opciones y de igual forma es necesario que este en el encabezado-->
                
                <ul>
                    <li><a hreaf="">Home</a></li>
                    <li><a hreaf="">about</a></li>
                    <li><a hreaf="">Login</a></li>
                </ul>
            </nav>
        </header>
        
        <div><!-- el div contendra el contenido de la pagina -->
            <h1>Tienda de equipos electronicos</h1>
            <p>La mejor tienda en la que puedes conseguir cualquier telefono, computadora y perifericos que quieras</p>
            
            <<img src="Imagenes para tienda/erquipos.jpg" alt="Mi imagen"/>
            
            
        </div>
        
        <footer th:replace="plantilla/templates::footer"></footer>
        
        
    </body>
</html>
